.jumbotron {
    padding-top: 62px;
    padding-bottom: 48px;
	
}
.jumbotron p{
	font-size:15px;
	font-style: italic;
	padding:10px;
}
.jumbotron h1{
	font-size:25px;
	padding:10px;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-top: 0px;
	padding-right: 2px;
padding-left: 1px;
}
.row {
    margin-right: 12px;
    margin-left: 30px;
}


.page-header h1{
	font-size:30px;
	text-align:center;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: oblique;
}
.col-lg-4 {
    width: 16.333%;
}
.col-lg-4 h2{
    font-size:15px;
	text-align:center;
	color:black;
	font-weight:12px;
}
.main{
	width:980px;
	 background-image: url("revolution-slider-full-background-blue-bokeh.jpg");
	 background-color:red;
	 margin:0 auto;
	 
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    background-color: #EDD2D2;
	
}
.container theme-showcase h1 p{
	margin: 71px 0px 10px;
	
}
.jumbotron1 h1 {
    font-size: 25px;
    padding: 49px 12px;
	background-color:white;
	text-align:center;
}
.alert1 {
    padding: 87px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 67%;
	text-align:center;
	background-color:#FAF3CF;
}
.alert2 {
    padding: 180px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0%;
}
.img-circle1{
    border-radius: 20%;
}
.form-cntrl{
		padding:10px;
		font-size:20px;
		}
button, input, optgroup, select, textarea {
    margin: 15px;
    font: inherit;
    color: inherit;
}