.main{
	width:980px;
	height: 190%;
	border:1px solid #ccc;
	margin: 0 auto;
	background-color:#555;
}
.header {
    width: 980px;
    float: left;
    height: 83px;
    background-color: #EDD3D3;
}

.header img {
    border-radius: 50%;
    padding: 5px 10px 4px 46px;
}
.header h1 marquee span{
	color:red;
}

.about-objective {
    width: 902px;
    float: left;
    clear: both;
    background-color: #C9E5F3;
    padding: 39px;
}
.about {
    width: 324px;
    float: left;
    clear: both;
    padding: 58px;
    background-color: #FFF;
    border-radius: 56%;
    margin: 1px 1px 1px 2px;
}
.about p b span{
	color:red;
}
.objective {
    width: 311px;
    float: left;
    padding: 61px;
    background-color: #FFF;
    border-radius: 93%;
    margin: 5px 1px 2px 22px;
}
.objective p b span{
	color:red;
}
.education{
	width:980px;
	float:left;
	background-color:white;
}
.tenth {
    width: 890px;
    padding: 5px 78px 4px 10px;
    border: 1px solid #ccc;
    background-color: #D1E9C7;
}

.twelve{
	width: 890px;
    padding: 5px 78px 4px 10px;
    border: 1px solid #ccc;
    background-color: #CBE7F4;
	border-radius: 31%;
}
.graduation{
	width: 890px;
    padding: 5px 78px 4px 10px;
    border: 1px solid #ccc;
    background-color: #FAF4D2;
}
.post-graduation{
	width: 890px;
    padding: 5px 78px 4px 10px;
    border: 1px solid #ccc;
    background-color: #EDD3D3;
	border-radius: 27%;
}
.personal-skills{
	width:980px;
	float:left;
	background-color:white;
	clear:both;
}
.personal {
    width: 400px;
    float: left;
    padding: 19;
}
.skills {
    width: 400px;
    float: left;
}
.skill {
    width: 514px;
    padding: 2px;
    border: 1px solid #CCC;
    background-color: #3073AC;
    color: #FFF;
    text-align: center;
    height: 23px;
}
.footer{
	width:980px;
	background-color:white;
	float:left;
	clear:both;
}
.contact-me {
    width: 200px;
    float: left;
    padding: 5px 5px 5px 22px;
}
.languages {
    width: 200px;
    float: left;
    padding: 5px 5px 5px 212px;
}
.lang{
	width: 200px;
    padding: 2px;
    border: 1px solid #blue;
	background-color:#DADADA;
	float:left;
	
}
.hobbies {
    width: 200px;
    float: left;
    padding: 5px 5px 5px 69px;
}
.hob{
	width: 200px;
    padding: 2px;
    border: 1px solid #ccc;
	background-color:#F0AD4E;
	float:left;
	
}
